<!DOCTYPE html>
{% load i18n %}
{% load django_bootstrap5 %}
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body">
    <main>
        <div>
            <h1>Welcome to the REST Countries Info APP</h1>
            <h2>Click on the button below to start.</h2>
            <button type="button" id="enter-button" class="btn btn-primary"
                onclick="window.location.href='/countries'">Enter</button>
            <p>© 2024 | Davide Presti</p>
        </div>
    </main>
</body>

</html>
